@model SeriesMvc.Models.MovieActorCategoryViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label for="Title">Filmin Adı</label>
                <input type="text" class="form-control" asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Actors">Oyuncular (Virgüllerle Ayırın)</label>
                <input type="text" class="form-control" asp-for="Actors" />
                <span asp-validation-for="Actors" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Categories">Kategoriler (Virgüllerle Ayırın)</label>
                <input type="text" class="form-control" asp-for="Categories" />
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>


            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
